/* custom.css */

body {
    font-family: Arial, sans-serif;
    background-color: #D9E6E5;
    margin: 8px;  /* Entfernt den Standardabstand von 8px um den Körper */
    padding: 8px;  /* Entfernt den Standardabstand von 8px um den Körper */
}

#header-area {
    margin-bottom: 25px; /* Adjust this value to increase or decrease the space */
}

h1 {
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 12px;
}

h2 {
    color: #495352;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    margin-bottom: 12px;
}

h3 {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: normal;
    text-align: left;
    margin-bottom: 12px;
}

p {
    color: #00D08C;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-top: 25px;
    margin-bottom: 5px;
}

#selection-area {
    background-color: #2F4C4C;
    color: #FFFFFF;
    padding: 20px;
    border-radius: 5px;
    margin: 10px;
}

#kpi-area {
    margin-top : 50px;
}

#dropdown_city {
    background-color: #619785;
    color: #000000;
    padding: 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
/* Grundlegende Spaltendefinition */
[class*="columns"] {
    padding-right: 15px;
    padding-left: 15px;
    flex: 1 0 0%;
}

/* Spezifische Anpassungen für sechs Spalten */
.six.columns {
    flex: 0 0 50%;
    max-width: 50%;
}

/* Optionale responsive Anpassungen */
@media (max-width: 768px) {
    .six.columns {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/* KPI-Tabellen Layout */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}
.cell-style {
    text-align: left;
    min-width: 0px;
    max-width: 180px;
}
.header-style {
    'backgroundColor': '#000000';
    'color': '#FFFFFF';
}
.data-row-even {
    background-color: #E6E6E6;
    color: #000000;
}
.data-row-odd {
    background-color: #CBCBCB;
    color: #000000;
}

